.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 212, 71);
    padding: 15px 0;
}
.appName{
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}