
.backdrop{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.603);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
}
.model{
    position: fixed;
    top:calc(100vh/2 - 200px);
    left: calc(100vw/2 - 300px);
    width: auto;
    background-color: black;
    z-index: 3;
}
